.art-previews {
        background-color: #637c9d;
}

.photo-box {
box-shadow: 0 0px 1pt 1pt #3d587b;
}

.photo-box,
.text-box {
	overflow: hidden;
	position: relative;
	height: 250px;
	text-align: center;
}

.photo-box-thin {
	height: 120px;
}

.photo-box img {
max-width: 100%;
height: auto;
min-height: 250px;
margin-left: auto;
margin-right: auto;
display: block;
}

.photo-box aside {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1em 0.5em;
	color: white;
	width: 100%;
	font-size: 80%;
	text-align: right;
	background: -moz-linear-gradient(top, rgba(16, 27, 30, 0) 0%, rgba(12, 2, 2, 1) 90%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(16, 27, 30, 0)), color-stop(90%, rgba(12, 2, 2, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(16, 27, 30, 0) 0%, rgba(12, 2, 2, 1) 90%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(16, 27, 30, 0) 0%, rgba(12, 2, 2, 1) 90%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(16, 27, 30, 0) 0%, rgba(12, 2, 2, 1) 90%);
	/* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(25, 25, 25, .9) 75%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202', GradientType=0);
	/* IE6-9 */
}

.photo-box aside span {
	color: #aaa;
}

.photo-box aside span a {
	color: #ccc;
	text-decoration: none;
}

@media (min-width: 30em) {
	.photo-box,
	.text-box {
		text-align: left;
	}
	.photo-box-thin {
		height: 250px;
	}
}


