.marquee {
  background-color: #3d587b;
  padding-bottom: .3em;
  color: white;
  width: 100%;
  overflow: hidden;
}

.marquee-element {
  padding-left: 2em;
  display: inline-block;
}

.marquee-element a {
  color: white;
}

.marquee-element a:hover {
  color: black;
}

@media (max-width: 47.999em) {
  .marquee {visibility: hidden;}
}

