      .custom-wrapper {
          background-color: #637c9d;
          -webkit-font-smoothing: antialiased;
          height: 2.1em;
          overflow: hidden;
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          -ms-transition: height 0.5s;
          transition: height 0.5s;
      }
      
      .custom-wrapper.open {
          height: 18em;
      }
      
      .custom-menu-3 {
          text-align: right;
      }
      
      .custom-toggle {
          width: 34px;
          height: 34px;
          position: absolute;
          top: 0;
          right: 0;
          display: none;
      }
      
      .custom-toggle .bar {
          background-color: #FFF;
          display: block;
          width: 20px;
          height: 2px;
          border-radius: 100px;
          position: absolute;
          top: 18px;
          right: 7px;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s;
      }
      
      .custom-toggle .bar:first-child {
          -webkit-transform: translateY(-6px);
          -moz-transform: translateY(-6px);
          -ms-transform: translateY(-6px);
          transform: translateY(-6px);
      }
      
      .custom-toggle.x .bar {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }
      
      .custom-toggle.x .bar:first-child {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
      }
      
      @media (max-width: 47.999em) {

#brandmenu{display:none;}      
          .custom-menu-3 {
              text-align: left;
          }
      
          .custom-toggle {
              display: block;
          }
#menu { display: flex; flex-direction: column; }
#block-oga3-main-menu { order: 2; }
#block-middlesearch { order: 1; }
#block-menulogin { order: 3; }
      }

.pure-menu-link,
.pure-menu-disabled,
.pure-menu-heading {
    color: white;
}

.pure-menu-active > .pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {

    background-color: #444;

}
@media (min-width: 47.999em) {
#mainmenu-bar {
margin-left: 1em;
}
#edit-keys--2, #edit-submit--3 {
height: 1.7em;
}
#edit-submit, #edit-name, #edit-pass {
top: -0.3em;
position: relative;
height: 1.8em;
}
#edit-submit {
margin-right: .3em;
}

.pure-menu-link{
font-weight: bold;
}
.align-center {
text-align:center;
}

.align-right {
text-align:right;
}
}

#brandmenu {
margin-bottom: 0;
}
.sara {
position: absolute;
}
#maintitle {
background-image: url("http://199.180.155.219/themes/custom/oga3/images/title.png");

width: 409px;

height: 31px;

position: absolute;

margin-left: 3em;
}

